.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0 1em;
  margin-bottom: 3em;
  height: 4em;
  h3 {
    font-size: xx-large;
    position: absolute;
    left: 7em;
  }
  p {
    font-size: xx-large;
    position: absolute;
    right: 3em;
    font-style: italic;
  }
}
.main-logo{
  width: 3em;
  img {
    position: relative;
    top: -20px;
    left: -7px;
    height: 15em;
  }
}