.contact-page {
  padding: 2em;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: x-large;
}
.contact-title {
  font-size: x-large;
  height: 10vh;
  text-align: right;
  padding-right: 3em;
}
.contact-body {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
}
.art-logo {
  display: flex;
  justify-content: center;
  height: 6em;
  margin-bottom: 1em;
}
.art-cards {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-evenly;
  h3 {
    font-size: xx-large;
  }
}
.art-starts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  width: 40vw;
  padding: 1em;
  text-align: center;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin: 1em;
}
.art-button {
  font-size: large;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  width: 10em;
}
.contact-footer {
  height: 10vh;
}
.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 3em;
  margin-top: 0.5em;
  font-size: 3em;
}