.landing-page {
  height: 80vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.home-title {
  font-size: x-large;
  height: 10vh;
  text-align: right;
  padding-right: 3em;
}

.home-image {
  height: 70vh;
  display: flex;
  flex-direction: row;
  img {
    position: relative;
    bottom: 4em;
    max-width: 60vw;
    opacity: 30%;
    mix-blend-mode: multiply;
  }
  p {
    font-size: xx-large;
    font-style: italic;
    position: absolute;
    bottom: 1em;
    right: 3.5em;
    text-align: end;
    align-items: flex-end;
  }
}